<section class="test-section">
  <div class="container">
    <h1>Test-section</h1>

    <label class="custom-checkbox">
      <input type="checkbox" class="custom-checkbox__field">
      <span class="custom-checkbox__content">Текст чекбокса</span>
    </label>

    <label class="custom-radio">
      <input type="radio" class="custom-radio__field" name="test">
      <span class="custom-radio__content">Текст radio</span>
    </label>

    <label class="custom-radio">
      <input type="radio" class="custom-radio__field" name="test">
      <span class="custom-radio__content">Текст radio</span>
    </label>
  </div>
</section>
